@charset "EUC-KR";

*{
	margin: 0px;
	padding: 0px;
}

body {
	min-width:1200px;
	font-size: 9pt;
	font-family: 맑은고딕;
}

a {
	cursor: hand;
	color: #000;
	text-decoration: none;
	font-size: 9pt;
	line-height: 150%;
}

a:hover, a:active {
	font-size: 9pt;
	color: #F28011;
	text-decoration: underline;
}

ul {
	list-style: none;
}

td {
	font-size: 9pt;
}

.btn1 {
	font-size: 9pt; 
	color:rgb(0,0,0); 
	background-color:rgb(245,245,245); 
	line-height:16px;
}

.btn2 {   
	color:#000000;
	font: normal 9pt '굴림','trebuchet ms',helvetica,sans-serif;
	background-color:#E4E4E4;
	border:1px solid;
	border-color: #696 #363 #363 #696;
	line-height:16px;	
	padding:1px 6px 1px 6px;
}

.header{
	width: 1200px;
	margin: 0 auto;
}

.footer{
	width: 100%;
	background-color: #E4E4E4;	
}

.footer_con{
	text-align: center;
	height: 70px;
	line-height: 70px;
	bottom: 0;
}